appdirs
attrs
black
bunch==1.0.1
certifi
cfgv
chardet
comet-ml
configobj==5.0.6
cycler
dill
distlib
dulwich
everett
filelock
gurobipy==9.1.2
identify
idna
importlib-metadata
iniconfig==1.1.1
jsonschema==3.2.0
kiwisolver
matplotlib
mxnet
mypy-extensions==0.4.3
nodeenv
nvidia-ml-py3
onnx
onnxruntime
packaging
pandas
pathspec
Pillow==9.1.1
pluggy
pre-commit
py==1.10.0
pyparsing==2.4.7
pyrsistent
pytest
pytest-cov
python-dateutil
pytz
PyYAML==5.4.1
regex
requests
requests-toolbelt
semantic-version
six==1.16.0
tensorflow
toml==0.10.2
tqdm
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3
virtualenv
websocket-client
wrapt
wurlitzer
zipp==3.4.1
numpy
